<div class="card mb-4" >
  <div class="card-img-wrapper">
    <img src="{{locataire.user?.photoUrl}}" alt="{{locataire.user?.knownAs}}" class="card-img-top">
    <ul class="list-inline member-icons animation text-center">
      <li class="list-inline-item"><button class="btn btn-primary" [routerLink]="['/locataires/', locataire.id]" ><i class="fa fa-user"></i></button></li>
      <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-heart"></i></button></li>
      <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-envelope"></i></button></li>
    </ul>
  </div>
  <div class="card-boddy p-1">
    <h6 class="card-title text-center mb-1">
      <i class="fa fa-user"></i>
      {{locataire.user?.knownAs}}, {{locataire.user?.age}}
    </h6>
    <p class="card-text text-muted text-center">{{locataire.user?.city}}</p>
  </div>
</div>